@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel


<div class="container text-center">
    <h3 class="display-4">Hello, my name is Tylor Trub.</h3>
    <p>I am a full-stack developer, with a C#.NET back-end focus.</p>
    <p>Check out my projects, example labs, and examples of my work above.</p>
    <p>I host the majority of my code on <a href="https://github.com/DontDoThat21">GitHub</a>.</p>
    <p>Feel free to relax and play some <a asp-controller="Games" asp-action="Index">HTML5/CSS3 games</a> I've created.</p>
    <p>Available 8am EST to 5pm EST. <a href="mailto:tylortrub@gmail.com">tylortrub@gmail.com</a></p>

    <h2 class="text-center">
        <a asp-controller="Home" asp-action="MVCDemo">
            Check out my latest MVC .NET 8 project!
        </a>
    </h2>
</div>

<div class="container">
    @for (int i = 0; i < Model.PortfolioImageList.Count; i++)
    {
        if (i % 2 == 0 || i == 0)
        {
            // draw top row only and give image to top left col
            <div class="row">
                <div class="col-4" style="border: 1px solid red;">
                    @Model.PortfolioImageList[i].DisplayText
                    <img src="~/Images/home/@Model.PortfolioImageList[i].FileName" class="img-fluid border-0 rounded">

                </div>
                <div class="row"></div>
                <div class="col-8" style="border: 1px solid blue;">
                    <img src="~/Images/home/lineTopLeftBottomRightWavy.png" class="img-fluid border-0 rounded">

                </div>
                <div class="col-4" style="border: 1px solid blue;">
                </div>
            </div>
        }
        else // odd
        {
            <div class="row">
                <div class="col-4" style="border: 1px solid blue;">
                </div>
                <div class="col-4" style="border: 1px solid blue;">

                </div>
                <div class="col-4" style="border: 1px solid red;">
                    @Model.PortfolioImageList[i].DisplayText
                    <img src="~/Images/home/@Model.PortfolioImageList[i].FileName" class="img-fluid border-0 rounded">
                </div>
                <div class="row"></div>
                <div class="col-4"></div>
                <div class="col-8" style="border: 1px solid blue;">
                    <img src="~/Images/home/lineTopRightBottomLeftWavy.png" class="img-fluid border-0 rounded">

                </div>
            </div>
        }
    } 
</div>

THE END