@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="container text-center">
    <div class="card">
        <h3 class="display-4 card-header">Hello, my name is Tylor C. Trub.</h3>
        <div class="card-body p-4">

            <table class="table table-bordered table-striped overflow-hidden">
                <tbody>
                    <tr>
                        <td>
                            I am a full-stack developer, with a C#.NET back-end focus.

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Check out my <a asp-controller="Projects" asp-action="Index">projects</a>, example labs, and examples of my work above.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            I host the majority of my code on <a href="https://github.com/DontDoThat21">GitHub</a>.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Relax and play some <a asp-controller="Games" asp-action="Index">HTML5/CSS3 games</a> I've created.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Available 8am to 5pm EST. <a href="mailto:tylortrub@gmail.com"/>tylortrub@gmail.com
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="text-center">
                <a asp-controller="Home" asp-action="MVCDemo">
                    Check out my latest MVC .NET 8 (still preview 5/27/23) project!
                </a>
            </h2>
        </div>        
    </div>    
</div>

<br />
<div class="border-bottom" style="height: 5px; width: 100%;"></div>
<br />



<div class="container-lg">
    @for (int i = 0; i < Model.PortfolioImageList.Count; i++)
    {
        if (i % 2 == 0 || i == 0)
        {
            // draw top row only and give image to top left col
            <div class="row">
                <div class="col-6">
                    <p style="float: left">
                        @Model.PortfolioImageList[i].DisplayText
                    </p>
                    <img src="~/Images/home/@Model.PortfolioImageList[i].FileName" class="pull-left border-0 rounded">

                </div>
                <div class="row"></div>
                <div class="col-6" >
                    <br>
                    <img src="~/Images/home/lineTopLeftBottomRightWavy.png" class="img-fluid border-0 rounded">

                </div>
                <div class="col-6">
                </div>
            </div>
        }
        else // odd
        {
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-3">
                </div>
                <div class="col-6">
                    <p style="float: right">
                        @Model.PortfolioImageList[i].DisplayText
                    </p>
                    <img src="~/Images/home/@Model.PortfolioImageList[i].FileName" class="pull-right border-0 rounded">
                </div>
                <div class="row"></div>
                <div class="col-6"></div>
                <div class="col-6" >
                    <br>
                    @if (!(i+1 == Model.PortfolioImageList.Count))
                    {
                        <img src="~/Images/home/lineTopRightBottomLeftWavy.png" class="img-fluid border-0 rounded">
                    }
                    else
                    {
                        <br />
                        <br />
                    }
                </div>
            </div>
        }
    } 
</div>