@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>My (Tylor Trub) site does not collect personally identifiable information about the actions made,
    or patterns of usage of the site. Depending on how you created your account(s), the addresses you entered may be stored in the site's database. Feel free to go wild and attempt to break anything.    
</p>
<p>
    Thank you for visiting, 
    <br />&nbsp;&nbsp;&nbsp;&nbsp; - Tylor.
</p>
