@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>My (Tylor Trub) site does not collect personally identifiable information about the actions made,
    or patterns of usage of the site. Feel free to go wild and attempt to break anything, 
    knowing that I am not liable for any mistakes you make.

    Thank you for your understanding, Tylor.
</p>
