@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

@model List<Category>

<h1>Category List</h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.DisplayOrder</td>
        </tr>
        }
    </tbody>
</table>
