@using TylorTrubPortfolio.DTO.Models
@{
    ViewData["Title"] = "Motorcycle Store";
    string picturePath = "/Images/home/motorcycle/";
}

@model List<Motorcycle>
<partial name="_Notification" />
@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container">
    <h1>Motorcycle Store - New and used Bikes</h1>

    <table id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Motorcycle</th>
                <th>Manufacturer</th>
                <th>Engine CCs</th>
                <th>Image</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>        
    </table>
</div>

@section Scripts {
    <script src="~/js/motorcycle.js"></script>
}