<h1>Welcome to the gaming section of my portfolio.</h1>

<table class ="table table-bordered table-striped table-dark">
    <tr>
        <th>
            Game
        </th>
        <th>
            Preview
        </th>
        <th>
            Play
        </th>
    </tr>
    <tbody>

    </tbody>
</table>