@{
    ViewData["Title"] = "Home Page";
    string homeImagesIndex = "";
}

<div class="container text-center">
    <h3 class="display-4">Hello, my name is Tylor Trub.</h3>
    <p>I am a full-stack developer, with a C#.NET back-end focus.</p>
    <p>Check out my projects, example labs, and examples of my work above.</p>
    <p>I host the majority of my code on <a href="https://github.com/DontDoThat21">GitHub</a>.</p>
    <p>Feel free to relax and play some <a asp-controller="Games" asp-action="Index">HTML5/CSS3 games</a> I've created.</p>
    <p>Available 8am EST to 5pm EST. <a href="mailto:tylortrub@gmail.com">tylortrub@gmail.com</a></p>
</div>

<h2 class="text-center">
    <a asp-controller="Home" asp-action="MVCDemo">
        Check out my latest MVC .NET 8 project!
    </a>
</h2>

<div class="container">
    <div class="row">
        <div class="col" style="border: 1px solid red;">
            Motorcycling is a big hobby of mine. As you scroll down,
            you will see more of my travels,
            what I like to do for fun,
            and core pieces of me.
            <br />
            <img src="~/Images/home/homebike3.jpg" width="300px" height="400px" class="border-0 rounded">
            <p>todo: make image line to next resource</p>

        </div>
        <div class="col" style="border: 1px solid red;">
            test
        </div>
        <div class="col" style="border: 1px solid red;">
            test
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" style="border: 1px solid red;">
            test
        </div>
        <div class="col" style="border: 1px solid red;">
            test
        </div>
        <div class="col" style="border: 1px solid red;">
            I picked up motorcycling as an exciting hobby as a teenager,
            traveling around the states in my evenings and weekends!
            <br />
            <img src="~/Images/home/homehelmetinworklol1.jpg" width="300px" height="400px" class="border-0 rounded">
            <p>todo: make image line to next resource</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6" style="border: 1px solid red;">
            I have experience directing the software processes behind automotive large shows, 
            as well as first hand physical layer support for internal users of intranet applications.
            <br />
            <img src="~/Images/home/homemiwork1.jpg" width="400px" height="300px" class="border-0 rounded">
            <p>todo: make image line to next resource</p>
        </div>
        <div class="col-3" style="border: 1px solid red;">
            test
        </div>
        <div class="col-3" style="border: 1px solid red;">
            test
        </div>
    </div>
</div>
